.portfolio__gallery {
  display: flex;
  padding: calc(var(--index) * 8) 0;
  column-gap: 30px;
}

.portfolio__gallery > * {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gallery__item {
  max-width: calc(var(--index) * 21);
  margin-bottom: var(--gallery-gap);
  max-height: 180vh;
  border-radius: 8px;
}

.text-block {
  color: calc(var(--color-text));
  position: relative
}

.text-block__title {
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--color-header);
  margin-bottom: 1.5rem;
}

.text-block__subtitle {
  line-height: 1.75;
}

@media screen and (max-width: 980px){
  .gallery__item {
    max-width: calc(var(--index) * 18);
  }
}

@media screen and (max-width: 820px){
  .portfolio__gallery {
    display: block;
    column-gap: 20px;
  }

  .gallery__item {
    max-width: calc(var(--index) * 20);
    margin-bottom: calc(var(--gallery-gap) / 2);
    
  }

  .portfolio__gallery > * {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}