.portfolio__gallery {
  display: flex;
  padding: calc(var(--index) * 8) 0;
}

.portfolio__gallery > * {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gallery__item {
  max-width: calc(var(--index) * 21);
  margin-bottom: var(--gallery-gap);
  max-height: 180vh;
  border-radius: 8px;
}

/* .gallery__left {
  margin-top: calc(var(--gallery-gap) * 1.75);
}

.gallery__right {
  margin: var(--gallery-gap) 0 0;
} */

.text-block {
  color: calc(var(--color-text));
  position: relative
}

.text-block__title {
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--color-header);
  margin-bottom: 1.5rem;
}

.text-block__subtitle {
  line-height: 1.75;
}