@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --index: calc(1vw + 1vh);
  --color-header: #f4efec;
  --color-text: #cdc6c3;
  --gallery-gap: calc(var(--index) * 10);
  background-image: url(./image/bg.jpg);
  background-color: #171717;
  color: #fafafa;
  font-family: 'Relewey';
  overflow-x: hidden;
}
